<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Portfolio</title>
</head>
<body>
    <h1>Photography Portfolio</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste labore nostrum obcaecati ipsam, eveniet temporibus dolorem odit, minima perspiciatis magni sapiente! Dolorem magni sit, numquam et dignissimos quidem reprehenderit minus!</p>
</body>
</html>